In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

color = sns.color_palette()
sns.set_style('darkgrid')

import warnings
warnings.filterwarnings('ignore')

In [2]:
df_faang = pd.read_csv(os.getcwd() +"/data.tmp/processed/fang.csv", low_memory=False)
df_faang

,Date,High,Low,Open,Close,Volume,Adj Close,Name
0,2002-05-23,1.242857,1.145714,1.156429,1.196429,104790000.0,1.196429,NFLX
1,2002-05-24,1.225000,1.197143,1.214286,1.210000,11104800.0,1.210000,NFLX
2,2002-05-28,1.232143,1.157143,1.213571,1.157143,6609400.0,1.157143,NFLX
3,2002-05-29,1.164286,1.085714,1.164286,1.103571,6757800.0,1.103571,NFLX
4,2002-05-30,1.107857,1.071429,1.107857,1.071429,10154200.0,1.071429,NFLX
...,...,...,...,...,...,...,...,...
26845,2020-11-04,3244.850098,3139.729980,3159.989990,3241.159912,6839000.0,3241.159912,AMZN
26846,2020-11-05,3366.800049,3288.879883,3319.969971,3322.000000,5789300.0,3322.000000,AMZN
26847,2020-11-06,3322.000000,3232.000000,3304.639893,3311.370117,4647300.0,3311.370117,AMZN
26848,2020-11-09,3289.000000,3112.110107,3231.030029,3143.739990,7190400.0,3143.739990,AMZN
26849,2020-11-10,3114.000000,3019.479980,3095.020020,3035.020020,6563300.0,3035.020020,AMZN

In [3]:
# df_faang.set_index("Date")

In [4]:
df_faang.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26850 entries, 0 to 26849
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       26850 non-null  object
 1   High       26850 non-null  float64
 2   Low        26850 non-null  float64
 3   Open       26850 non-null  float64
 4   Close      26850 non-null  float64
 5   Volume     26850 non-null  float64
 6   Adj Close  26850 non-null  float64
 7   Name       26850 non-null  object
dtypes: float64(6), object(2)
memory usage: 1.6+ MB

In [7]:
df_facebook = df_faang[df_faang['Name'] == 'FB']
df_apple = df_faang[df_faang['Name'] == 'AAPL']
df_amazon = df_faang[df_faang['Name'] == 'AMZN']
df_netflix = df_faang[df_faang['Name'] == 'NFLX']
df_google = df_faang[df_faang['Name'] == 'GOOGL']

In [ ]:
plt.figure(figsize=(10,10))
plt.plot(df_apple["Date"], df_apple['Close'])
plt.xlabel("Date")
plt.ylabel("Price")
plt.title("AAPL Stock Price up to 11/11/2020")
plt.show()

In [ ]:
df_apple["MA50"] = df_apple['Close'].rolling(window=50).mean()
df_apple["MA200"] = df_apple['Close'].rolling(window=200).mean()
df_apple['ewma'] = df_apple['Close'].ewm(halflife=0.5, min_periods=20).mean()

In [ ]:
plt.figure(figsize=(10,10))
plt.plot(apple['MA50'], 'g--', label="Moving Average 50")
plt.plot(apple['MA200'], 'r--', label="Moving Average 200")
plt.plot(apple['Close'], label="Close")
plt.legend()
plt.show()

In [ ]:
df_apple['middle_band'] = df_apple['Close'].rolling(window=20).mean()
df_apple['upper_band'] = df_apple['Close'].rolling(window=20).mean() + df_apple['Close'].rolling(window=20).std()*2
df_apple['lower_band'] = df_apple['Close'].rolling(window=20).mean() - df_apple['Close'].rolling(window=20).std()*2

In [ ]:
plt.figure(figsize=(10,10))
plt.plot(apple['upper_band'], 'g--', label="upper")
plt.plot(apple['middle_band'], 'r--', label="middle")
plt.plot(apple['lower_band'], 'y--', label="lower")
plt.plot(apple['Close'], label="Close")
plt.legend()
plt.show()


plt.figure(figsize=(10,10))
plt.plot(apple['upper_band'].iloc[-200:], 'g--', label="upper")
plt.plot(apple['middle_band'].iloc[-200:], 'r--', label="middle")
plt.plot(apple['lower_band'].iloc[-200:], 'y--', label="lower")
plt.plot(apple['Close'].iloc[-200:], label="Close")
plt.legend()
plt.show()